.corps {
    margin: 1em;
}

.title-1 {
    font-size: 3em;
    color : #fff;
    text-align: center;
    
}
.style {
    /* color : rgb(46, 224, 224); */
    color : rgb(255, 187, 0);
}

.haut-de-page {
    font-size: 20px;

}

.nav-link {
    color:rgb(255, 187, 0);
}

.img {
    text-align: left;
    float: left;
    margin: 0 10px 10px 0;
}


.image-2 {
    height: 20em;
    width: 30em;
    float: right;
    margin: 0 10px 10px 0;
}

.image-3 {
    height: 40em;
    width: 30em;
    float: right;
}

.chatbot {
    min-width: 300px; 
    width: 300px; 
    min-height: 400px;
    position: fixed;
    top: 100px;
    right: 0px;
    background-color: rgb(255, 187, 0);
    border: 2px solid rgb(255, 187, 0);
    z-index: 999;
}

.style-gras {
    font-weight: bold;
}